@scope (.layout) to (:is(aside, main) > *) {
  :scope {
    display: grid;
    grid-template-areas: ". sidebar content bg-spacer";
    grid-template-columns: 1fr 18rem minmax(auto, 90rem) 1fr;
    height: 100dvh;
  }

  aside {
    border-right: var(--border-width) solid var(--c-border);
    grid-area: sidebar;
    overflow: auto;
  }

  main {
    background-color: var(--c-surface-bg);
    grid-area: content;
    overflow: auto;
  }

  div:last-child {
    background: var(--c-surface-bg);
    grid-area: bg-spacer;
  }
}
