@scope (.layout) to (:is(aside, main) > *) {
  :scope {
    display: grid;
    grid-template-areas: "sidebar content";
    grid-template-columns: 18rem auto;
    height: 100dvh;
  }

  aside {
    border-right: var(--border-width) solid var(--c-border);
    container-type: inline-size;
    grid-area: sidebar;
    overflow: auto;
  }

  main {
    background-color: var(--c-surface-bg);
    container-type: inline-size;
    grid-area: content;
    overflow: auto;
  }
}
