@scope (.layout) to (:is(aside, main) > *) {
  :scope {
    display: flex;
    flex-direction: column;

    @media (width >= 640px) {
      flex-direction: row;
      height: 100dvh;
    }
  }

  main {
    background-color: var(--c-surface-bg);
    container-type: inline-size;
    flex: 1;

    @media (width >= 640px) {
      overflow: auto;
    }
  }

  aside {
    border: 0px solid var(--c-border);
    border-bottom-width: var(--border-width);
    container-type: inline-size;
    flex: none;

    @media (width >= 640px) {
      border-bottom-width: 0px;
      border-right-width: var(--border-width);
      overflow: auto;
      width: 17rem;
    }
  }
}
