@scope (.note-view) {
  :scope {
    display: flex;
    flex-direction: column;
    height: 100%;

    @container (width >= 640px) {
      flex-direction: row;
    }
  }

  .content {
    flex: 1;
    padding: 4rem 2rem;

    @container (width >= 640px) {
      overflow: auto;
    }
  }

  aside {
    border: 0px solid var(--c-border);
    border-top-width: var(--border-width);
    flex: none;
    padding: 2rem;

    @container (width >= 640px) {
      border-left-width: var(--border-width);
      border-top-width: 0px;
      overflow: auto;
      padding-block: 4rem;
      width: 17rem;
    }

    nav {
      > span {
        align-items: center;
        display: flex;
        gap: 0.75ch;
      }

      > section > * {
        padding-block: 0.375rem;
      }
    }
  }
}
