@scope (.search-view) to (.search-results) {
  :scope {
    padding: 4rem 2rem;
    max-width: 60rem;
    margin-inline: auto;
  }

  form {
    margin-top: -0.5rem;
    margin-bottom: 2rem;
  }

  input[type="search"] {
    field-sizing: content;
    max-width: 100%;
    min-width: 16rem;
    width: unset;
  }

  output {
    all: unset;
    display: block;
    margin-bottom: 0.75rem;
  }
}
