@scope (.tags-view) to (.search-results) {
  :scope {
    padding: 4rem 2rem;
    max-width: 60rem;
    margin-inline: auto;
  }

  h1 {
    margin-bottom: 2rem;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style-type: none;
    margin-bottom: 2rem;
    padding: 0;
  }

  h2 {
    all: unset;
    display: block;
    margin-bottom: 0.75rem;
  }
}
