.breadcrumbs {
  display: flex;
  list-style-type: none;
  padding: 0;
  font-size: var(--font-size-small);

  li + li::before {
    color: var(--c-fg-variant);
    content: "/";
    margin: 0.75ch;
  }
}
