{{template "sidebar_layout.html" .}}

{{define "sidebar"}}
  {{template "navigation.html" .}}
{{end}}

{{define "content"}}
<div class="calendar-view">
  <header>
    <nav>
      <ul class="breadcrumbs">
        <li>
          <h1>Calendar</h1>
        </li>
        <li>{{.Data.Month.Format "January 2006"}}</li>
      </ul>
      <ul>
        <li>
          <a href="{{.Data.PreviousMonthUrl}}">
            {{template "chevron-left.svg"}} Previous
          </a>
        </li>
        <li>
          <a href="{{.Data.NextMonthUrl}}">
            Next {{template "chevron-right.svg"}}
          </a>
        </li>
      </ul>
    </nav>
  </header>

  <div class="calendar">
    <div class="weekday">Mon<span>day</span></div>
    <div class="weekday">Tue<span>sday</span></div>
    <div class="weekday">Wed<span>nesday</span></div>
    <div class="weekday">Thu<span>rsday</span></div>
    <div class="weekday">Fri<span>day</span></div>
    <div class="weekday">Sat<span>urday</span></div>
    <div class="weekday">Sun<span>day</span></div>

    {{range .Data.DaysBeforeFirst}}
    <div class="cell"></div>
    {{end}}

    {{range $Number, $Entries := .Data.Calendar}}
    <div class="cell">
      <small>{{$Number}}</small>
      {{if $Entries}}
      <ul class="entries">
        {{range $Entries}}
        <li>
          <a class="clamp" href="/notes/{{.Slug}}">
            {{.Title}}
          </a>
        </li>
        {{end}}
      </ul>
      {{end}}
    </div>
    {{end}}

    {{range .Data.DaysAfterLast}}
    <div class="cell"></div>
    {{end}}
  </div>
</div>
{{end}}
