{{ template "layout.html" . }}
{{ define "sidebar" }}
  {{ template "sidebar.html" . }}
{{ end }}

{{ define "content" }}
  <div class="note">
    <h1>{{ .Data.Note.Title }}</h1>

    <div has-fallback="{{ if .Data.Note.IsEmpty }}empty{{ end }}">
      <div>
        {{- .Data.Html -}}
      </div>
      <div fallback-for="empty">
        <p>{{ template "ghost.svg" }}</p>
        <p>This note has no text.</p>
      </div>
    </div>

    {{ if .Data.Note.Children }}
      <h2>Also on this day</h2>
      <ul>
        {{ range .Data.Note.Children }}
          <li>
            <a href="/notes/{{ .Slug }}">{{ .Title }}</a>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
{{ end }}
