@scope (x-copybutton) {
  button {
    text-align: left;
  }

  .slot {
    display: grid;
    overflow: clip;
  }

  .label,
  .copied-message {
    align-items: center;
    display: flex;
    gap: 0.75ch;
    grid-area: 1 / 1;
    transition: var(--transition);
    transition-property: translate, visibility, opacity;
  }

  .copied-message {
    opacity: 0;
    translate: 0 100%;
    visibility: hidden;
  }

  &.copied {
    .label {
      opacity: 0;
      translate: 0 -100%;
      visibility: hidden;
    }

    .copied-message {
      opacity: 1;
      translate: 0 0;
      visibility: visible;
    }
  }
}
