@scope (.search-results) to (.prose > *) {
  :scope {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
  }

  li {
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--c-border);
    padding: 1rem 1.25rem;
    scroll-margin: 10vh;

    &:target {
      outline: var(--outline);
      outline-offset: var(--outline-inset);
    }

    &:has(.prose:empty) header {
      margin-bottom: 0;
    }
  }

  header {
    font-weight: var(--font-weight-bold);
    margin-bottom: 1rem;
  }

  .prose {
    --prose-max-width: auto;
  }
}

:is(html, main):has(.search-results) {
  scroll-behavior: smooth;
}
