@layer base, components, utils;

@import "/static/common/design-system/design-system.css" layer(base);
@import "/static/common/design-system/design-system-utils.css" layer(utils);

@import "./components/code-block.css" layer(components);
@import "./components/copy-button.css" layer(components);
@import "./components/search-results.css" layer(components);
@import "./components/sticky-title.css" layer(components);
@import "./components/tag.css" layer(components);
@import "./components/wikilink.css" layer(components);
@import "./shared/layout.css" layer(components);
@import "./shared/navigation.css" layer(components);
@import "./views/note.css" layer(components);
@import "./views/notes.css" layer(components);
@import "./views/search.css" layer(components);
@import "./views/tags.css" layer(components);

@layer base {
  :root {
    --body-padding-x: 0px;
    --body-padding-y: 0px;
    --body-width: initial;
    --font-size: 14px;
    --outer-spacing-y: 0;
    --tint: 325;
  }
}

@layer utils {
  a.color-variant:is(:hover) {
    color: var(--c-link-hover);
  }
}

:root {
  --font-family-display: Georgia, serif;
}

table {
  display: block;
  overflow-x: auto;
  padding-bottom: 1px;
}

menu {
  font-size: var(--font-size);

  &[popover] {
    opacity: 0;
    transition: all var(--transition-duration-quick) var(--transition-timing) allow-discrete;
    translate: 0 -0.25rem;

    &:popover-open {
      opacity: 1;
      translate: 0 0;
    }

    @starting-style {
      &:popover-open {
        opacity: 0;
        translate: 0 -0.25rem;
      }
    }
  }
}

.prose {
  --disabled-opacity: 1;
  --prose-font-size: clamp(14px, 0.417vw + 8px, 16px);

  h1 {
    font-variant-numeric: tabular-nums;
    text-transform: capitalize;
  }

  em,
  blockquote {
    font-family: var(--font-family-display);
    font-style: italic;
  }
}
