@layer base, components, utils;

@import "/static/common/design-system.css" layer(base);
@import "/static/common/design-system-utils.css" layer(utils);

@import "./components/note.css" layer(components);
@import "./shared/layout.css" layer(components);

@layer base {
  :root {
    --body-padding-x: 0px;
    --body-padding-y: 0px;
    --body-width: initial;
  }

  /* TODO: Fix in DS */
  li ul {
    margin-block: 0;
  }

  nav li ul {
    border-left: var(--border-width) solid var(--c-border);
    margin-left: 0.75rem;
    margin-right: 0;
    padding-left: 0.75rem;
  }

  nav a {
    display: flex;
  }
}
