@layer base, components, utils;

@import "/static/common/design-system.css" layer(base);
@import "/static/common/design-system-utils.css" layer(utils);

@import "./shared/layout.css" layer(components);
@import "./shared/navigation.css" layer(components);
@import "./views/note.css" layer(components);
@import "./views/notes.css" layer(components);

@layer base {
  :root {
    --body-padding-x: 0px;
    --body-padding-y: 0px;
    --body-width: initial;
  }

  /* TODO: Fix in DS */
  /* ... */
}
