@layer base, components, utils;

@import "/static/common/design-system.css" layer(base);
@import "/static/common/design-system-utils.css" layer(utils);

@layer base {
  :root {
    --body-padding-x: 1rem;
    --body-padding-y: 1rem;
    --body-width: unset;
  }
}
