<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="oklch(100% 0 325)" media="(prefers-color-scheme: light)" />
    <meta name="theme-color" content="oklch(18% 0.012 325)" media="(prefers-color-scheme: dark)" />
    <link rel="apple-touch-icon" href="/static/public/apple-touch-icon.png" />
    <link rel="icon" href="/static/public/favicon.png" sizes="any" />
    <link rel="manifest" href="/static/manifest.json" />
    <title>{{ .Title }}{{ if .Title }}{{ " " }}|{{ " " }}{{ end }}One</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/static/styles/styles.css" />

    <!-- App scripts -->
    <script src="/static/scripts/app.js" type="module"></script>
  </head>

  <body>
    {{ template "page" . }}


    <command-bar id="cmd"></command-bar>

    {{ template "client.html" . }}
  </body>
</html>
