<nav class="navigation">
  <strong>One</strong>

  <ul>
    <li class="caps font-size-small color-primary font-weight-medium">
      {{ len .Data.Notes }} Notes
    </li>
    {{ range .Data.Notes }}
      <li>
        {{ template "note_link.html" (dict "Note" . "CurrentUrl" $.CurrentUrl) }}

        {{ if .Children }}
          <ul>
            {{ range .Children }}
              <li>
                {{ template "note_link.html" (dict "Note" . "CurrentUrl" $.CurrentUrl) }}
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </li>
    {{ end }}
  </ul>
</nav>
