<nav class="navigation">
  <strong>One</strong>

  <ul>
    <li>
      <button variant="muted" commandfor="cmd" command="--open">
        {{ template "command.svg" }}
        Go to anything
      </button>
    </li>
    <li>
      <a
        href="/search/"
        class="color-variant"
        {{ if eq .CurrentURL "/search/" }}aria-current="page"{{ end }}
      >
        {{ template "search.svg" }}
        Search
      </a>
    </li>
  </ul>

  <ul>
    <li class="caps font-size-small color-primary font-weight-medium">{{ len .Notes }} Notes</li>
    {{ range .Notes }}
      <li>
        {{ template "note_link.html" (dict "Note" . "CurrentURL" $.CurrentURL) }}
        {{ if .Children }}
          <ul>
            {{ range .Children }}
              <li>{{ template "note_link.html" (dict "Note" . "CurrentURL" $.CurrentURL) }}</li>
            {{ end }}
          </ul>
        {{ end }}
      </li>
    {{ end }}
  </ul>
</nav>
